.custom{
    width : 10px;
    background-color: aqua;
}

.custom .form-group {
    background-color: aqua;
    color: #000;
}

.form-group {
    background-color: darkgreen;
    color: #000;
}

div{
    background-color: darkgreen;
}

body{
    background-color: aqua;
}